<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.AdminerMapper" >
  <resultMap id="BaseResultMap" type="com.demo.model.Adminer" >
    <constructor >
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="b_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="u_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="auth_add" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="auth_edit" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="auth_delete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, pwd, author, c_id, c_name, b_name, u_name, auth_add, auth_edit,auth_delete
  </sql>

  <select id="login" resultMap="BaseResultMap" parameterType="com.demo.model.Adminer" >
    select
    <include refid="Base_Column_List" />
    from admin_info
    WHERE name=#{name,jdbcType=VARCHAR} AND pwd =#{pwd,jdbcType=VARCHAR}
  </select>

  <select id="userexit" resultMap="BaseResultMap" parameterType="com.demo.model.Adminer" >
    select
    <include refid="Base_Column_List" />
    from admin_info
    WHERE name=#{name,jdbcType=VARCHAR}
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_info
    where c_id IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from admin_info
    where name=#{name,jdbcType=VARCHAR}
  </select>
  <select id="countById" resultType="java.lang.Integer" >
    select count(*)
    from admin_info
    where c_id IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByName" parameterType="java.lang.String" >
    delete from admin_info
    WHERE name=#{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.demo.model.Adminer" >
    insert into admin_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="bName != null" >
        b_name,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="authAdd != null" >
        auth_add,
      </if>
      <if test="authEdit != null" >
        auth_edit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="bName != null" >
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="authAdd != null" >
        #{authAdd,jdbcType=BIT},
      </if>
      <if test="authEdit != null" >
        #{authEdit,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.Adminer" >
    insert into admin_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != ''" >
        name,
      </if>
      <if test="pwd != ''" >
        pwd,
      </if>
      <if test="author != ''" >
        author,
      </if>
      <if test="cId != ''" >
        c_id,
      </if>
      <if test="cName != ''" >
        c_name,
      </if>
      <if test="bName != ''" >
        b_name,
      </if>
      <if test="uName != ''" >
        u_name,
      </if>
      <if test="authAdd != ''" >
        auth_add,
      </if>
      <if test="authEdit != ''" >
        auth_edit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != ''" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != ''" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="author != ''" >
        #{author,jdbcType=INTEGER},
      </if>
      <if test="cId != ''" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cName != ''" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="bName != ''" >
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="uName != ''" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="authAdd != ''" >
        #{authAdd,jdbcType=BIT},
      </if>
      <if test="authEdit != ''" >
        #{authEdit,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.model.AdminerExample" resultType="java.lang.Integer" >
    select count(*) from admin_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin_info
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null and record.pwd!=''" >
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=INTEGER},
      </if>
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.bName != null" >
        b_name = #{record.bName,jdbcType=VARCHAR},
      </if>
      <if test="record.uName != null" >
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.authAdd != null" >
        auth_add = #{record.authAdd,jdbcType=BIT},
      </if>
      <if test="record.authEdit != null" >
        auth_edit = #{record.authEdit,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByName" parameterType="map" >
    update admin_info
    set
      pwd = #{record.pwd,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=VARCHAR},
      c_name = #{record.cName,jdbcType=VARCHAR},
      b_name = #{record.bName,jdbcType=VARCHAR},
      u_name = #{record.uName,jdbcType=VARCHAR},
      auth_add = #{record.authAdd,jdbcType=BIT},
      auth_edit = #{record.authEdit,jdbcType=BIT},
      auth_delete = #{record.authDelete,jdbcType=BIT}
    WHERE name = #{record.name,jdbcType=VARCHAR}
  </update>
</mapper>